
### `pd.cut()`
- `pd.cut()` is used to convert continuous numerical data into categories (bins).
- Think of it as **Converts quantitative data into qualitative**
- Example: Marks[80,40,50,70] = > Grades[Excellent, Fail, Average, Good]
- Use cases:
    1. Temperature ranges (cold / warm / hot)
    2. Age groups (child / adult / senior)
    3. Income brackets
    4. Risk levels

Instead of writing `if-else logic`, Pandas does it in one optimized operation.
- Syntax:`pd.cut(`
    `x`,          # numeric Series (column)
    `bins`,       # bin edges
    `labels=None` # optional names for bins
)`
- `pd.cut()` converts continuous numbers into meaningful categories using bins, and labels give those categories names.

#### Custom Grouping: Let's say you want to group your data. The requirement is to create three groups:
- Days when temperature was between 80 and 90. [Temperautre between 80-90]
- Days when it was between 50 and 60.   [Temperature between 50-60]
- Days when it was anything else. [Other Temperature]

In [1]:
import pandas as pd
import csv

In [2]:
df = pd.read_csv('weather_by_cities.csv')
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

**`pd.cut() — Key Parameters`**
- **bins** = Defines how the numeric data is split into ranges (intervals). Think of it as cut points
- bins rules: Must be Numeric, Ordered, Unique
Example: `bins=[0, 50, 100] => Creates: 0–50, 50–100`.
- **labels** = Human-readable names for each bin
- labels rules: `Number of labels = number of bins − 1`

In [5]:
df['Temperature Group'] = pd.cut(
    df['temperature'],
    bins=[0,50,60,80,90,100],
    labels=[
        'Below 50',
        'Temperature b/w 50-60',
        'Temperature b/w 60-80',
        'Temperature b/w 80-90',
        'Above 90 Temperature'
    ]
    
    )
df

         day      city  temperature  windspeed   event      Temperature Group
0   1/1/2017  new york           32          6    Rain               Below 50
1   1/2/2017  new york           36          7   Sunny               Below 50
2   1/3/2017  new york           28         12    Snow               Below 50
3   1/4/2017  new york           33          7   Sunny               Below 50
4   1/1/2017    mumbai           90          5   Sunny  Temperature b/w 80-90
5   1/2/2017    mumbai           85         12     Fog  Temperature b/w 80-90
6   1/3/2017    mumbai           87         15     Fog  Temperature b/w 80-90
7   1/4/2017    mumbai           92          5    Rain   Above 90 Temperature
8   1/1/2017     paris           45         20   Sunny               Below 50
9   1/2/2017     paris           50         13  Cloudy               Below 50
10  1/3/2017     paris           54          8  Cloudy  Temperature b/w 50-60
11  1/4/2017     paris           42         10  Cloudy               Below 50

Students Grades Custom Grading using custom grouping:

In [6]:
std_df = pd.read_csv('studentsperformance.csv')
std_df

,gender,age,parental_level_of_education,lunch,test_preparation_course,maths_score,reading_score,writing_score
0,female,28.0,bachelor's degree,standard,none,72,72,74
1,female,23.0,some college,standard,completed,69,90,88
2,female,19.0,master's degree,standard,none,90,95,93
3,male,28.0,associate's degree,free/reduced,none,47,57,44
4,male,23.0,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,19.0,master's degree,standard,completed,88,99,95
996,male,28.0,high school,free/reduced,none,62,55,55
997,female,21.0,high school,free/reduced,completed,59,71,65
998,female,27.0,some college,standard,completed,68,78,77
999,female,NaN,some college,free/reduced,none,77,86,86

In [8]:
std_df['Maths Remarks'] = pd.cut(
    std_df['maths_score'],
    bins=[0,40,50,60,70,80,90,100],
    labels=[
        'U',
        'E',
        'D',
        'C',
        'B',
        'A',
        'A*'
    ]
)
std_df

,gender,age,parental_level_of_education,lunch,test_preparation_course,maths_score,reading_score,writing_score,Maths Remarks
0,female,28.0,bachelor's degree,standard,none,72,72,74,B
1,female,23.0,some college,standard,completed,69,90,88,C
2,female,19.0,master's degree,standard,none,90,95,93,A
3,male,28.0,associate's degree,free/reduced,none,47,57,44,E
4,male,23.0,some college,standard,none,76,78,75,B
...,...,...,...,...,...,...,...,...,...
995,female,19.0,master's degree,standard,completed,88,99,95,A
996,male,28.0,high school,free/reduced,none,62,55,55,C
997,female,21.0,high school,free/reduced,completed,59,71,65,D
998,female,27.0,some college,standard,completed,68,78,77,C
999,female,NaN,some college,free/reduced,none,77,86,86,B