## Grouping Data
- MOST important Pandas concepts.
- This is where Pandas starts to feel like SQL + Excel + Python combined.
- **`groupby()`** splits data into groups, applies calculations to each group, and combines the results.
- Think of it as:
    *“Group rows by something, then summarize them.”*

**Real-World Examples**: 
This is used daily in data science & analytics jobs.

    1. Average salary per department
    2. Total sales per city
    3. Number of students per grade
    4. Mean temperature per month
    5. Stock performance per company

### **`Groupby()`**
- The pandas `groupby() function` is a core tool for data manipulation that implements a **"split-apply-combine"** strategy.
    1. Split: The data is divided into groups based on a specified criterion (e.g., a column name or a list of column names). Example: City Name('Abu Dhabi','Amsterdam', 'Antalya')
    2. Apply: A function (e.g., sum(), mean(), count()) is executed on each individual group.
    3. Combine: The results from each group operation are combined into a single, unified pandas object and returns a GroupBy object, not a DataFrame, which serves as an intermediate container for subsequent operations. 
- Summary: 
1️⃣ Split → Group rows
2️⃣ Apply → calculation (mean, sum, count…)
3️⃣ Combine → output table

![alt text](group_by_final_ex.png)

In [8]:
import pandas as pd
import csv

In [9]:
df = pd.read_csv('cities_weather_data.csv')
df

,City,Temperature,Wind Speed (m/s),Latitude,Longitude,event,Country
0,Paris,10.46,2.06,48.8534,2.3488,clear sky,France
1,Dubai,29.32,3.09,25.2582,55.3047,clear sky,United Arab Emirates
2,Madrid,9.97,3.60,40.4165,-3.7026,clear sky,Spain
3,Tokyo,21.58,2.06,35.6895,139.6917,broken clouds,Japan
4,Amsterdam,8.00,3.58,52.3740,4.8897,clear sky,Netherlands
...,...,...,...,...,...,...,...
95,Punta Cana,26.87,6.69,18.5818,-68.4043,few clouds,Dominican Republic
96,Guilin,24.06,0.97,25.2819,110.2864,clear sky,China
97,Hanoi,28.00,2.49,21.0245,105.8412,clear sky,Vietnam
98,Cairo,19.42,4.63,30.0626,31.2497,clear sky,Egypt
99,Muscat,28.01,2.76,23.6139,58.5922,broken clouds,Oman

In [10]:
data_frame_groupby = df.groupby("City")
data_frame_groupby

In [15]:
for City, data in data_frame_groupby:
    print("City:", City)
    print("Max Temperature:", data.Temperature.max())

City: Abu Dhabi
Max Temperature: 29.5
City: Amsterdam
Max Temperature: 8.0
City: Antalya
Max Temperature: 18.94
City: Athens
Max Temperature: 17.89
City: Bangkok
Max Temperature: 32.35
City: Barcelona
Max Temperature: 14.23
City: Beijing
Max Temperature: 8.94
City: Berlin
Max Temperature: 15.66
City: Bologna
Max Temperature: 12.93
City: Brussels
Max Temperature: 8.41
City: Budapest
Max Temperature: 15.53
City: Buenos Aires
Max Temperature: 15.31
City: Busan
Max Temperature: 13.99
City: Cairo
Max Temperature: 19.42
City: Cancún
Max Temperature: 28.96
City: Copenhagen
Max Temperature: 13.07
City: Delhi
Max Temperature: 27.05
City: Doha
Max Temperature: 26.97
City: Dubai
Max Temperature: 29.32
City: Dublin
Max Temperature: 19.87
City: Edinburgh
Max Temperature: 5.79
City: Florence
Max Temperature: 15.49
City: Frankfurt
Max Temperature: 12.21
City: Fukuoka
Max Temperature: 19.65
City: Guangzhou
Max Temperature: 24.97
City: Guilin
Max Temperature: 24.06
City: Hanoi
Max Temperature: 28.0
City: Heraklion
Max Temperature: 14.76
City: Ho Chi Minh City
Max Temperature: 29.48
City: Hong Kong
Max Temperature: 26.29
City: Honolulu
Max Temperature: 26.6
City: Islamabad
Max Temperature: 15.87
City: Istanbul
Max Temperature: 13.21
City: Jerusalem
Max Temperature: 18.16
City: Johor Bahru
Max Temperature: 26.79
City: Kraków
Max Temperature: 12.76
City: Kuala Lumpur
Max Temperature: 26.07
City: Kyoto
Max Temperature: 19.02
City: Las Vegas
Max Temperature: 27.44
City: Lima
Max Temperature: 21.14
City: Lisbon
Max Temperature: 12.12
City: London
Max Temperature: 7.67
City: Los Angeles
Max Temperature: 21.91
City: Macau
Max Temperature: 26.0
City: Madrid
Max Temperature: 9.97
City: Marrakech
Max Temperature: 15.04
City: Mecca
Max Temperature: 30.35
City: Melbourne
Max Temperature: 24.04
City: Mexico City
Max Temperature: 26.68
City: Miami
Max Temperature: 25.04
City: Milan
Max Temperature: 11.25
City: Montreal
Max Temperature: 15.99
City: Mugla
Max Temperature: 14.19
City: Mumbai
Max Temperature: 30.99
City: Munich
Max Temperature: 10.84
City: Muscat
Max Temperature: 28.01
City: New York City
Max Temperature: 21.79
City: Nice
Max Temperature: 5.53
City: Orlando
Max Temperature: 25.13
City: Osaka
Max Temperature: 19.0
City: Palma de Mallorca
Max Temperature: 14.86
City: Paris
Max Temperature: 10.46
City: Phuket
Max Temperature: 27.12
City: Playa Del Carmen
Max Temperature: 28.01
City: Porto
Max Temperature: 10.74
City: Prague
Max Temperature: 14.12
City: Punta Cana
Max Temperature: 26.87
City: Rhodes
Max Temperature: 18.77
City: Rio de Janeiro
Max Temperature: 27.99
City: Riyadh
Max Temperature: 19.08
City: Rome
Max Temperature: 26.09
City: San Francisco
Max Temperature: 17.07
City: Santiago
Max Temperature: 14.86
City: Sapporo
Max Temperature: 11.02
City: Seoul
Max Temperature: 15.41
City: Seville
Max Temperature: 14.15
City: Shanghai
Max Temperature: 18.12
City: Sharjah
Max Temperature: 27.16
City: Shenzhen
Max Temperature: 26.37
City: Singapore
Max Temperature: 26.82
City: Stockholm
Max Temperature: 5.29
City: Sydney
Max Temperature: 16.6
City: São Paulo
Max Temperature: 23.91
City: Taipei
Max Temperature: 24.1
City: Tallinn
Max Temperature: 9.07
City: Tbilisi
Max Temperature: 16.84
City: Tel Aviv
Max Temperature: 21.14
City: Thessaloniki
Max Temperature: 16.43
City: Tokyo
Max Temperature: 21.58
City: Toronto
Max Temperature: 15.62
City: Valencia
Max Temperature: 13.66
City: Vancouver
Max Temperature: 10.89
City: Venice
Max Temperature: 27.71
City: Verona
Max Temperature: 12.98
City: Vienna
Max Temperature: 13.88
City: Vilnius
Max Temperature: 11.49
City: Warsaw
Max Temperature: 15.3
City: Washington
Max Temperature: 13.91
City: Zhuhai
Max Temperature: 26.21
City: Zurich
Max Temperature: 8.83