## Interacting With CSV files in Pandas

In [15]:
import pandas as pd
import csv

##### `.skiprows=` Parameter in read_csv function
- The skiprows parameter in pandas is used within functions like read_csv() and read_excel() to specify which lines in a file should be ignored when importing data into a DataFrame.

In [16]:
df = pd.read_csv("TSLA.csv", skiprows=0)    #instead of 1, 0 given in skiprows=0 just for example.
df

,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close: Closing price adjusted to reflect the value after accounting for any corporate actions
0,29/06/2010,3.800000,5.000000,3.508000,4.778000,4.778000,93831500,NaN
1,30/06/2010,5.158000,6.084000,4.660000,4.766000,4.766000,85935500,NaN
2,01/07/2010,5.000000,5.184000,4.054000,4.392000,4.392000,41094000,NaN
3,02/07/2010,4.600000,4.620000,3.742000,3.840000,3.840000,25699000,NaN
4,06/07/2010,4.000000,4.000000,3.166000,3.222000,3.222000,34334500,NaN
...,...,...,...,...,...,...,...,...
2951,18/03/2022,874.489990,907.849976,867.390015,905.390015,905.390015,33408500,NaN
2952,21/03/2022,914.979980,942.849976,907.090027,921.159973,921.159973,27327200,NaN
2953,22/03/2022,930.000000,997.859985,921.750000,993.979980,993.979980,35289500,NaN
2954,23/03/2022,979.940002,1040.699951,976.400024,999.109985,999.109985,40225400,NaN
2955,24/03/2022,1009.729980,1024.489990,988.799988,1013.919983,1013.919983,22901900,NaN

##### `header=` Parameter in read_csv function
- 	Row number(s) to use as the column names. Default is 0 (first line).

In [17]:
df_header = pd.read_csv("TSLA.csv", header=None)
df_header

,0,1,2,3,4,5,6,7
0,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close: Closing price adjusted to reflect t...
1,29/06/2010,3.8,5,3.508,4.778,4.778,93831500,NaN
2,30/06/2010,5.158,6.084,4.66,4.766,4.766,85935500,NaN
3,01/07/2010,5,5.184,4.054,4.392,4.392,41094000,NaN
4,02/07/2010,4.6,4.62,3.742,3.84,3.84,25699000,NaN
...,...,...,...,...,...,...,...,...
2952,18/03/2022,874.48999,907.849976,867.390015,905.390015,905.390015,33408500,NaN
2953,21/03/2022,914.97998,942.849976,907.090027,921.159973,921.159973,27327200,NaN
2954,22/03/2022,930,997.859985,921.75,993.97998,993.97998,35289500,NaN
2955,23/03/2022,979.940002,1040.699951,976.400024,999.109985,999.109985,40225400,NaN
2956,24/03/2022,1009.72998,1024.48999,988.799988,1013.919983,1013.919983,22901900,NaN

#### Custom Column Name
- List of column names to use. If the file does not contain a header row.
- Syntax: `.read_csv("csv_file name", header=(header row), names=["name of header1", "name of header2", "name of header of ur choice"])`

In [19]:
df_custom_name = pd.read_csv("TSLA.csv",header= 1, names=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume", "Adj Close Definition"])
df_custom_name

,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close Definition
0,30/06/2010,5.158000,6.084000,4.660000,4.766000,4.766000,85935500,NaN
1,01/07/2010,5.000000,5.184000,4.054000,4.392000,4.392000,41094000,NaN
2,02/07/2010,4.600000,4.620000,3.742000,3.840000,3.840000,25699000,NaN
3,06/07/2010,4.000000,4.000000,3.166000,3.222000,3.222000,34334500,NaN
4,07/07/2010,3.280000,3.326000,2.996000,3.160000,3.160000,34608500,NaN
...,...,...,...,...,...,...,...,...
2950,18/03/2022,874.489990,907.849976,867.390015,905.390015,905.390015,33408500,NaN
2951,21/03/2022,914.979980,942.849976,907.090027,921.159973,921.159973,27327200,NaN
2952,22/03/2022,930.000000,997.859985,921.750000,993.979980,993.979980,35289500,NaN
2953,23/03/2022,979.940002,1040.699951,976.400024,999.109985,999.109985,40225400,NaN
2954,24/03/2022,1009.729980,1024.489990,988.799988,1013.919983,1013.919983,22901900,NaN