## WRITING CSV FILE

- **`pd.ExcelWriter`** → tool for writing DataFrames to Excel.
- **`with pd.ExcelWriter(...) as writer`** → best practice for writing safely.

Benefits:
- write multiple sheets
- prevents file corruption
- auto-save & auto-close
- cleaner code

### `pd.ExcelWriter`
ExcelWriter is a pandas class used to write DataFrames into Excel files, especially when:
- You want to write multiple sheets
- You want to append more data into the same Excel file
- You want full control over formatting (optional)

- Syntax e.g: 

`writer = pd.ExcelWriter("output.xlsx")`

`df.to_excel(writer)` 

`writer.save()`

### `with pd.ExcelWriter(...) as writer`
Using **with**:
- ✔ Automatically saves the file
- ✔ Automatically closes the writer
- ✔ Prevents file corruption
- ✔ Cleaner code

- Syntax: **`with pd.ExcelWriter("output.xlsx") as writer:`**

In [1]:
import pandas as pd

#### In a scenario, where you have to export pd.DataFrame into single excel file:
- Here two `pd.DataFrame({})` are created which will be exported into single excel file using `with pd.excelWriter`

In [2]:
df_player = pd.DataFrame(
    {
    'Name':['Cristiano Ronaldo', 'L. Messi', 'M. Neuer', 'L. Suárez', 'Neymar', 'R. Lewandowski', 'Sergio Ramos'],
    'Club_Name':['Real Madrid CF', 'FC Barcelona', 'FC Bayern München', 'FC Barcelona','Paris Saint-Germain','FC Bayern München','Real Madrid CF'],
    'Club_Jersey_Number':[7,10,1,9,10,9,4]
    }
    )
df_player

                Name            Club_Name  Club_Jersey_Number
0  Cristiano Ronaldo       Real Madrid CF                   7
1           L. Messi         FC Barcelona                  10
2           M. Neuer    FC Bayern München                   1
3          L. Suárez         FC Barcelona                   9
4             Neymar  Paris Saint-Germain                  10
5     R. Lewandowski    FC Bayern München                   9
6       Sergio Ramos       Real Madrid CF                   4

In [3]:
df_matches = pd.DataFrame({
    'Stage':['Round of 16','Quarter-Finals','Semi-Finals'],
    'Stadium':['Estadio Beira-Rio','Arena Fonte Nova','Arena de Sao Paulo'],
    'Match Conditions':['Germany win after Extra time','Netherlands win on penalties (4 - 3)', 'Argentina win on penalties (2 - 4)']
})
df_matches

            Stage             Stadium                      Match Conditions
0     Round of 16   Estadio Beira-Rio          Germany win after Extra time
1  Quarter-Finals    Arena Fonte Nova  Netherlands win on penalties (4 - 3)
2     Semi-Finals  Arena de Sao Paulo    Argentina win on penalties (2 - 4)

In [4]:
with pd.ExcelWriter("fifa player and matches.xlsx") as writer:
    df_player.to_excel(writer, sheet_name="players", index=False)
    df_matches.to_excel(writer, sheet_name="matches", index=False)