## Interacting With CSV files in Pandas
#### READING CSV FILE
- read_csv Parameters Arguements
#### WRITING/EDITING CSV FILE

### WRITING CSV FILE

- Working as Data Analyst/ Data Scientist, often there are scenario where you're provided with raw data.
- For example, Raw Financial Metric, Raw Data, Raw prices data, Raw Revenue data and so on.
- You will have to develop **`Derived CSV File`**.
- This **`Derived CSV File`** is a dervied file, created professionaly from raw data file.
- Syntax **``**

In [16]:
import pandas as pd
import csv

In [17]:
df = pd.read_csv('TSLA.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close: Closing price adjusted to reflect the value after accounting for any corporate actions
0,29/06/2010,3.800000,5.000000,3.508000,4.778000,4.778000,93831500,NaN
1,30/06/2010,5.158000,6.084000,2.996000,4.766000,4.766000,85935500,NaN
2,01/07/2010,5.000000,5.184000,4.054000,4.392000,4.392000,41094000,NaN
3,02/07/2010,2.996000,4.620000,3.742000,3.840000,3.840000,25699000,NaN
4,06/07/2010,4.000000,4.000000,-2.000000,3.222000,3.222000,34334500,NaN
...,...,...,...,...,...,...,...,...
2951,18/03/2022,874.489990,907.849976,867.390015,905.390015,905.390015,33408500,NaN
2952,21/03/2022,914.979980,942.849976,907.090027,921.159973,921.159973,27327200,NaN
2953,22/03/2022,930.000000,997.859985,921.750000,993.979980,993.979980,35289500,NaN
2954,23/03/2022,979.940002,1040.699951,976.400024,999.109985,999.109985,40225400,NaN
2955,24/03/2022,1009.729980,1024.489990,988.799988,1013.919983,1013.919983,22901900,NaN

Writing/Adding Daily Price Change into CSV file.
- Daily Price Change = `Close − Open`
- Avg Stock Price OR midpoint = `Avg Price = High + Low /2`

In [19]:
df["change"] = df["Close"]-df["Open"]   #Daily Price Change
df["avg price"] = df["High"] + df["Low"] / 2
df

,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close: Closing price adjusted to reflect the value after accounting for any corporate actions,change,avg price
0,29/06/2010,3.800000,5.000000,3.508000,4.778000,4.778000,93831500,NaN,0.978000,6.754000
1,30/06/2010,5.158000,6.084000,2.996000,4.766000,4.766000,85935500,NaN,-0.392000,7.582000
2,01/07/2010,5.000000,5.184000,4.054000,4.392000,4.392000,41094000,NaN,-0.608000,7.211000
3,02/07/2010,2.996000,4.620000,3.742000,3.840000,3.840000,25699000,NaN,0.844000,6.491000
4,06/07/2010,4.000000,4.000000,-2.000000,3.222000,3.222000,34334500,NaN,-0.778000,3.000000
...,...,...,...,...,...,...,...,...,...,...
2951,18/03/2022,874.489990,907.849976,867.390015,905.390015,905.390015,33408500,NaN,30.900025,1341.544983
2952,21/03/2022,914.979980,942.849976,907.090027,921.159973,921.159973,27327200,NaN,6.179993,1396.394990
2953,22/03/2022,930.000000,997.859985,921.750000,993.979980,993.979980,35289500,NaN,63.979980,1458.734985
2954,23/03/2022,979.940002,1040.699951,976.400024,999.109985,999.109985,40225400,NaN,19.169983,1528.899963
2955,24/03/2022,1009.729980,1024.489990,988.799988,1013.919983,1013.919983,22901900,NaN,4.190003,1518.889984