# Generating New Columns Pandas .apply():

`apply()` lets you apply a function to each column or each row.
Think of it as:
1. column-wise apply: operate on each value in a column
2. row-wise apply: operate on each row to produce a new result

- You want row-wise logic.
- You want custom functions.
- Calculations depend on multiple columns.
- You need to apply Python logic you can’t do with vectorized Pandas

##### Column-wise .apply()
1. Convert text to lowercase.
2. Pass/Fail new column using math score.

##### Row-Wise .apply()
Syntax: `df.apply(function, axis=1)`

3. Calculate total score per student.
4. Find the strongest subject for each student.

In [5]:
import pandas as pd
import csv

# Importing CSV dataset
df = pd.read_csv("studentsperformance.csv")

In [6]:
#1.
df["gender"] = df["gender"].apply(lambda x: x.upper())
df

,gender,age,parental_level_of_education,lunch,test_preparation_course,maths_score,reading_score,writing_score
0,FEMALE,28.0,bachelor's degree,standard,none,72,72,74
1,FEMALE,23.0,some college,standard,completed,69,90,88
2,FEMALE,19.0,master's degree,standard,none,90,95,93
3,MALE,28.0,associate's degree,free/reduced,none,47,57,44
4,MALE,23.0,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,FEMALE,19.0,master's degree,standard,completed,88,99,95
996,MALE,28.0,high school,free/reduced,none,62,55,55
997,FEMALE,21.0,high school,free/reduced,completed,59,71,65
998,FEMALE,27.0,some college,standard,completed,68,78,77
999,FEMALE,NaN,some college,free/reduced,none,77,86,86

In [7]:
#2.
df['maths_pass'] = df['maths_score'].apply(lambda x:'Pass' if x>=60 else 'Fail')
df

,gender,age,parental_level_of_education,lunch,test_preparation_course,maths_score,reading_score,writing_score,maths_pass
0,FEMALE,28.0,bachelor's degree,standard,none,72,72,74,Pass
1,FEMALE,23.0,some college,standard,completed,69,90,88,Pass
2,FEMALE,19.0,master's degree,standard,none,90,95,93,Pass
3,MALE,28.0,associate's degree,free/reduced,none,47,57,44,Fail
4,MALE,23.0,some college,standard,none,76,78,75,Pass
...,...,...,...,...,...,...,...,...,...
995,FEMALE,19.0,master's degree,standard,completed,88,99,95,Pass
996,MALE,28.0,high school,free/reduced,none,62,55,55,Pass
997,FEMALE,21.0,high school,free/reduced,completed,59,71,65,Fail
998,FEMALE,27.0,some college,standard,completed,68,78,77,Pass
999,FEMALE,NaN,some college,free/reduced,none,77,86,86,Pass

In [8]:
#3. 
df['total_score'] = df.apply(
    lambda row: row['maths_score'] + row['reading_score'] + row['writing_score'], 
    axis=1
)
df

,gender,age,parental_level_of_education,lunch,test_preparation_course,maths_score,reading_score,writing_score,maths_pass,total_score
0,FEMALE,28.0,bachelor's degree,standard,none,72,72,74,Pass,218
1,FEMALE,23.0,some college,standard,completed,69,90,88,Pass,247
2,FEMALE,19.0,master's degree,standard,none,90,95,93,Pass,278
3,MALE,28.0,associate's degree,free/reduced,none,47,57,44,Fail,148
4,MALE,23.0,some college,standard,none,76,78,75,Pass,229
...,...,...,...,...,...,...,...,...,...,...
995,FEMALE,19.0,master's degree,standard,completed,88,99,95,Pass,282
996,MALE,28.0,high school,free/reduced,none,62,55,55,Pass,172
997,FEMALE,21.0,high school,free/reduced,completed,59,71,65,Fail,195
998,FEMALE,27.0,some college,standard,completed,68,78,77,Pass,223
999,FEMALE,NaN,some college,free/reduced,none,77,86,86,Pass,249