# INDEX OPERATIONS
- Input: `df.index`. Output: RangeIndex(start=, stop=, step=1)
- `inplace=True` method tells the function to modify the original DataFrame directly rather than creating a new one.

In [8]:
import pandas as pd
import csv

# Importing CSV dataset
df = pd.read_csv("studentsperformance.csv")

In [9]:
#Printing after df.set_index to verify Index
df.index

RangeIndex(start=0, stop=1000, step=1)

- You can set any column as an index, instead of index = 0,1,2.....
- Syntax: `df.set_index("column name", inplace=True)`.
- So after updating DataFrame, if u print df.index, `index` will give be substituted.

In [10]:
df.set_index('parental_level_of_education', inplace=True)
df.head()

,gender,age,lunch,test_preparation_course,maths_score,reading_score,writing_score
parental_level_of_education,,,,,,,
bachelor's degree,female,28.0,standard,none,72,72,74
some college,female,23.0,standard,completed,69,90,88
master's degree,female,19.0,standard,none,90,95,93
associate's degree,male,28.0,free/reduced,none,47,57,44
some college,male,23.0,standard,none,76,78,75

In [11]:
#Printing after df.set_index to verify Index
df.index

Index(['bachelor's degree', 'some college', 'master's degree',
       'associate's degree', 'some college', 'associate's degree',
       'some college', 'some college', 'high school', 'high school',
       ...
       'high school', 'some high school', 'associate's degree',
       'bachelor's degree', 'high school', 'master's degree', 'high school',
       'high school', 'some college', 'some college'],
      dtype='object', name='parental_level_of_education', length=1000)

##### Reseting Index
- `df.reset_index(inplace=True)`

In [ ]:
df.reset_index(inplace=True)
df

,parental_level_of_education,gender,age,lunch,test_preparation_course,maths_score,reading_score,writing_score
0,bachelor's degree,female,28.0,standard,none,72,72,74
1,some college,female,23.0,standard,completed,69,90,88
2,master's degree,female,19.0,standard,none,90,95,93
3,associate's degree,male,28.0,free/reduced,none,47,57,44
4,some college,male,23.0,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,master's degree,female,19.0,standard,completed,88,99,95
996,high school,male,28.0,free/reduced,none,62,55,55
997,high school,female,21.0,free/reduced,completed,59,71,65
998,some college,female,27.0,standard,completed,68,78,77
999,some college,female,NaN,free/reduced,none,77,86,86