# Using `.loc[]` and `.iloc[]` to fetch rows

- Both .loc and .iloc are essential attributes of Pandas DataFrames
- Both are used for selecting specific subsets of data. 
- Their purpose is to access and enable manipulating a specific part of the DataFrame instead of the whole DataFrame. 

- `loc[]` uses a label to point to a row, column or cell, whereas `.iloc[]` uses the numeric position.
- `df.loc[row_indexer, column_indexer]`

In [5]:
import pandas as pd
import csv

# Importing CSV dataset
df = pd.read_csv("studentsperformance.csv")

In [6]:
df.set_index('parental_level_of_education', inplace=True)
df.head()

,gender,age,lunch,test_preparation_course,maths_score,reading_score,writing_score
parental_level_of_education,,,,,,,
bachelor's degree,female,28.0,standard,none,72,72,74
some college,female,23.0,standard,completed,69,90,88
master's degree,female,19.0,standard,none,90,95,93
associate's degree,male,28.0,free/reduced,none,47,57,44
some college,male,23.0,standard,none,76,78,75

In [7]:
df
df.loc["high school"]   #will return high school indexed rows

,gender,age,lunch,test_preparation_course,maths_score,reading_score,writing_score
parental_level_of_education,,,,,,,
high school,male,29.0,free/reduced,completed,64,64,67
high school,female,24.0,free/reduced,none,38,60,50
high school,female,30.0,standard,none,65,81,73
high school,male,22.0,standard,none,88,89,86
high school,male,24.0,standard,none,66,69,63
...,...,...,...,...,...,...,...
high school,male,23.0,standard,none,57,51,54
high school,male,25.0,free/reduced,completed,86,81,75
high school,male,24.0,standard,none,63,63,62
high school,male,28.0,free/reduced,none,62,55,55
high school,female,21.0,free/reduced,completed,59,71,65

In [8]:
df.iloc[10]     #will return entire row details at index 10 using `.iloc[]`

gender                         male
age                            22.0
lunch                      standard
test_preparation_course        none
maths_score                      58
reading_score                    54
writing_score                    52
Name: associate's degree, dtype: object

In [9]:
df.iloc[18:28]      #will return entire row details at index 10 till 28 using `.iloc[]`

,gender,age,lunch,test_preparation_course,maths_score,reading_score,writing_score
parental_level_of_education,,,,,,,
master's degree,male,25.0,free/reduced,completed,46,42,46
associate's degree,female,22.0,free/reduced,none,54,58,61
high school,male,24.0,standard,none,66,69,63
some college,female,25.0,free/reduced,completed,65,75,70
some college,male,25.0,standard,none,44,54,53
some high school,female,27.0,standard,none,69,73,73
bachelor's degree,male,24.0,free/reduced,completed,74,71,80
master's degree,male,25.0,free/reduced,none,73,74,72
some college,male,23.0,standard,none,69,54,55
bachelor's degree,female,21.0,standard,none,67,69,75